body {
    margin: 0;
    background-color: grey;
    color: white;
}

#logo {
    background: url('../images/cryptocurrencies.jpg') no-repeat center center;
    width:100%;
    height: 200px;
    text-align: center;
    margin: 0;
    position: fixed;
    top:0;
    z-index: 3;
}

#logo h1 {
    position: relative;
    top: 70px;
    font-size: 50px;
    color: #28736e;
    margin: 0;
}

#menu li {
    list-style-type: none;
    padding: 20% 0;
    font-size: 160%;
    text-align: center;
}
section {
    float: right;
    margin: 200px 5% 0 160px;
    position: relative;
    top: 5px;
    padding-bottom: 150px;
}

nav ul {
    padding: 0;
    margin: 0;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: grey;
}

aside {
    position: fixed;
    left: 0;
    bottom: auto;
    width: 150px;
}

aside nav {
    margin-top: 200px;
    background-color: blue;
    height: 1000px;
    padding: 20px 5%;
}

footer {
    height: 50px;
    position:fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    z-index: 3;
    background-color: blue;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 10%;
    color: white;
}

.active {
    border-bottom: 1px solid white;
}

section .signup-form {
    position: relative;
    top: 0;
    left: 10px;
    float: left;
}